.servicios{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    width: 100%;
    height: fit-content;
    background-color: var(--verde);
    padding: 15% 10%;
}